body{
    background-color: white;
    
}




.ustdiv  {
    display: flex;
    overflow-x: auto;
   }
 
   .ustdiv > div  {
     flex:1;
     height: 50;
     background-color:#4000b5;
     color: white;
     text-align: center;
     transition: background-color 0.3s ease;
     min-width: 200px
    
   }

   .ustdiv > div:hover {
     background-color: #010512;
 }
 
 .ustdiv a {
     color: white;
     display: block;
     text-decoration: none;
     cursor: pointer;
    
     
 }


.kutu {  
    margin:30px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.kutu2 {  
    margin:30px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
   
}



 /* Bootstrap */

 .form-control {
    max-width: 400px;
    
  }

