body{
    background-color:white;
    margin: 0;
    margin-top: 60px;
    padding: 0;
}

a:visited {
  color: inherit; 
  background-color: white;
}
.altdiv{
  
    padding-top: 30;
    bottom: 0;
    width: 100%;
    background-color: #5514cd; 
    display: flex;
    text-align: center;
    margin-top: 120;
    color: white;
    align-items: center;
    justify-content: center
}
.altdiv2{
    padding-top: 30;  
    margin-top: 360;
    width: 100%;
    background-color: #5514cd; 
    display: flex;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center
}


.ustdiv  {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(64, 0, 181, 0.9); 
    backdrop-filter: blur(5px); 
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 60;
    
   }
 
   .ustdiv > div  {
    
     margin-top: 0;
     color: white;
     text-align: center;
     transition: background-color 0.3s ease;
     min-width: 100px
    
      
    
   }

   .ustdiv-login{

    margin-left: 53.9%;
   }

   .ustdiv > div:hover {
     background-color:#5514cd;
 }
 
 .ustdiv a {
  padding-top: 20px;
     width:100px ;
     height: 60px;
     color: white;
     display: block;
     text-decoration: none;
     cursor: pointer;
     
 }
 

 

.kutu {  
    margin:30px auto;
    margin-bottom: 0px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.kutu2 {  
    margin:10px auto;
    width: 100%;
     background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
   align-items: center;
   justify-content: center
   
}
.kutu3 {  
    margin:5px 10px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 750;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 280px
    
   
}



.kutu4{
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.kutu5 {  
    margin:15px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 500px;
    text-align: center;
    align-items: center;
    justify-content: center
   
}

.kutu6 {  
    margin: 90 auto auto auto;
    background-color: white;
    padding: 5;
    box-shadow: 0 2px 6px rgba(93, 171, 122, 0.408);
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 40;
    border-radius: 16px;
   
}

.kutu7 {  
    margin:0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;

   
}

.kutu8 {  
    margin:15px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 1000px;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

 html {
      scroll-behavior: smooth;
    }



.alan{
  display: flex; 
  gap: 20px;
}

.video{
  border-radius: 20px; 
  overflow: hidden;    
  border: none;   
 
}



img {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

.afis{
  border-radius: 10px;
  width: 200px;
}

.logo{
    margin: 10px  ;
    border: 1px solid #ccc;
    width:1000px ;
    display: flex;
    align-items: flex-start;
    background-color: rgba(225, 235, 241);
    

}

.liste{
  list-style-type: none;
}
   
.film{

    display: flex;
    align-items: flex-start;
    
}

.takim{
    margin: 10px  ;
    padding-bottom: 10;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

}



.cvsol{
  padding-top: 40;
border-top-left-radius: 16px;
border-bottom-left-radius: 16px;
color: white;
background-color: #5514cd;
    height:700px ;
    width:500;
}

.cvsag{
  padding-top: 40;
color: black;
background-color: rgba(225, 235, 241, 0.863);
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
    height:700px ;
    width:800;
    border: 5px;
}

.cv{  
    margin:0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cvkapsa{
  display: flex;
}

.spor {  
    margin:5px 10px;
    background-color: white;
    padding: 30px;
    padding-bottom: 10;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.spor2{
 margin:0px 10px;
padding: 0px 30px;
}

 /* Bootstrap */

 .form-control {
    max-width: 400px;
    
  }


